*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
#nav-desktop{
    display: none;
    position: fixed;
    width: 100%;
    background: #2E2E2E;
    // padding-block: .9em;
    padding-inline: .9em;
    z-index: 999;
    transition: .5s all ease-in-out;
    @media (min-width: 768px){
        display: flex;
    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 90%;
        margin-inline: auto;
        width: 100%;
        #navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 7em;
            @media (min-width: 1300px){
                width: 70%;
            }
        }

    }
    #navMenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        list-style-type: none;
        font-family: 'lato';
        padding-inline: 2em;

        // padding-block: .5em;
        transition: .5s;
       
        #home a{
            color: #C49558;
        }
        #about a{
            color: #C49558;
        }
        li{
            margin-block: 2em;
            a{
                color: #C49558;
            }
        }
    }
    #logo{
        margin-inline: auto;
        // width: 100%;
        img{
            object-fit: cover;
            width: 100%;
        }
    }

    #cart{
        // border: 1px solid;
        padding: .6em;
        padding-inline: .8em;
        border-radius: 100px;
        background: #2A282D;

        i{
            color: rgb(236, 211, 180);
            font-size: 12px;
        }
        #count{
            // position: relative;
            // top: -10px;
            // right: -30px;
            background-color: #C49558;
            padding: .2em;
            padding-inline: .5em;
            border-radius: 100px;
            color: #fff;
            font-family: 'lato';
            font-weight: 700;
            font-size: 10px;
        }
    }
}
#nav{
    position: fixed;
    width: 100%;
    background: #2E2E2E;
    padding-block: .9em;
    padding-inline: .9em;
    z-index: 999;
    @media (min-width: 768px){
        display: none;
    }
    .nav-container{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5em;
        // display: flex;
    }
    #navBar{
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 99;
        
        #bars{
            width:25px;
            height: 3px;
            background: #C49558;

            border-radius: 2px;
            transition: all .5s ease-in-out;
        }
    }
    #bars::before,
    #bars::after{
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background: #C49558;
        border-radius: inherit;
        transition: all .5s ease-in-out;
    }
    #bars::before{
        transform: translateY(-7px);
    }
    #bars::after{
        transform: translateY(7px);
    }
    #navBar.open #bars{
        transform: translateX(-50px);
        background: transparent;
    }
    #navBar.open #bars::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    #navBar.open #bars::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }

    #navigation{
        position: absolute;
        width: 0;
        top: 0;
        left: 0;
        background-color: #fff;
        // padding: 2em;
        height: 100vh;
        overflow-x: hidden;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: .5s all ease-in-out;
        
        #navMenu{
            list-style-type: none;
            font-family: 'lato';
            margin-top: 4em;
            padding-inline: 2em;
            padding-block: .5em;
            transition: .5s;
           
            #home a{
                color: #C49558;
            }
            #about a{
                color: #C49558;
            }
            li{
                margin-block: 2em;
                a{
                    color: black;
                }
            }
            .dropdown{
              ol{
                  list-style-type: none;  
                  font-size: 10px;
                  height: 0px;
              }
            }  
        }
    }

    #logo{
        img{
            object-fit: cover;
            width: 125px;
        }
    }

    
    
}
#cart{
    position: fixed;
    top: 10px;
    right: 1%;
    // border: 1px solid;
    padding: .6em;
    padding-inline: .8em;
    border-radius: 100px;
    background: #2A282D;
    z-index: 9999;
    i{
        color: rgb(236, 211, 180);
        font-size: 12px;
    }
    #count{
        // position: relative;
        // top: -10px;
        // right: -30px;
        background-color: #C49558;
        padding: .2em;
        padding-inline: .5em;
        border-radius: 100px;
        color: #fff;
        font-family: 'lato';
        font-weight: 700;
        font-size: 10px;
    }
}
.watches-container{
    position: fixed;
    right: 0;
    background-color: #fff;
    top: 63px;
    overflow: hidden;
    height: 0;
    padding-inline: 1em;
    // padding-block: 1em;
    border-radius: 10px;
    z-index: 1999;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.188);
    transition: .5s all ease-in-out;
    .watches-header{
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: .5em;
        h5{
            font-family: 'lato';
            font-size: 15px;
        }
        i{
            font-size: 23px;
            font-weight: 100;
            transition: .5s all;
            &:hover{
                color: #C49558;
            }
        }
    }
    .watches{
        display: flex;
        flex-direction: column;
        gap: .4em;
        height: 200px;
        overflow: scroll;
        padding-block: 1em;
        .watch-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2em;
            background-color: #c495588a;
            padding: .4em;
            border-radius: 7px;
            // width: 10%;
            .watch{
                display: flex;
                // align-items: center;
                gap: .4em;
                img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                }
            }
            .watch-text{
                line-height: 2.3mm;
                span{
                    font-family: 'lato';
                    font-size: 10px;
                    font-weight: 700;
                }
                p{
                    font-family: 'lato';
                    font-size: 7px;
                    color: rgba(0, 0, 0, 0);
                }
                .price{
                    padding-block: .5em;
                    font-size: 10px;
                    font-family: "lato";
                }
            }

        }
        .quantity{
             .minus{
                background-color: #2E2E2E;
                color: #fff;
                padding-inline: .3em;
                font-size: 12px;
                font-family: "lato";
             }
             span{
                font-family: "lato";
                font-size: 10px;
                padding-inline: .4em;
             }
             .plus{
                background-color: #2E2E2E;
                color: #fff;
                padding-inline: .3em;
                font-size: 12px;
                font-family: "lato";
             }
        }
    }
    h3{
        text-align: center;
        font-size: 12px;
        font-family: "lato";
        background-color: #C49558;
        padding: 1.2em;
        padding-inline: 2em;
        border-radius: 3px;
        margin-block: .5em;
    }
}
#hero{
    background: #2A282D;
    
    #heroWrapper{
        height: 100vh;
        width: 100%;
        background: url(../img/pexels-mitchel-durfee-6230455.png);
        object-fit: cover;
        background-position:  -760px;
        background-repeat: no-repeat;
        background-size: 2400px;
        background-color: rgba(0, 0, 0, 0.406);
        background-blend-mode: overlay;
        @media (min-width: 768px){
            background-size: cover;
            background-position: right;
            height: 80vh;
        }
    }
    
    #content{
        position: relative;
        top: 150px;
        padding-inline: .7em;
        max-width: 90%;
        margin-inline: auto;
        width: 100%;
        .heads{
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                gap: 1em;
            }
            h1{
                font-family: 'Cormorant Garamond';
                font-size: 45px;
                color: #fff;
                font-weight: 700;
                line-height: 15mm;
                @media (min-width: 768px){
                    font-size: 50px;
                }
            }
        }
        h3{
            font-size: 23px;
            font-weight: lighter;
            color: #fff;
            padding-block: .4em;
            @media (min-width: 768px){
                font-size: 30px;
            }
        }

        p{
            width: 95%;
            padding-block: 1.2em;
            color: rgb(236, 211, 180);
            font-family: "lato";
            font-size: 13px;
            line-height: 6mm;
            @media (min-width: 768px){
                font-size: 15px;
                width: 40%;
                letter-spacing: 4%;
                line-height: 23px;
            }
        }
    }
    #btn-learn{
        max-width: 90%;
        margin-inline: auto;
        position: relative;
        top: 150px;
        margin-inline: 2em;
        margin-top: 1.4em;
        background: none;
        border: 2px solid;
        border-radius: 3px;
        color: rgb(236, 211, 180);
        font-family: "lato";
        font-size: 15px;
        padding: .8em;
        padding-inline: 1.8em;
        transition: .5s all;
        &:hover{
            background-color: #C49558;
            color: #0c0c0c;
            border: none;
            font-weight: 600;
        }
        @media (min-width: 768px){
            left: 65px;
        }
    }

    #type{
        @media (min-width: 768px){
            padding-block: 5em;
        }
        #typeList{
            padding-bottom: 3em;
            max-width: 90%;
            margin-inline: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            // flex-grow: 500px;
            justify-content: center;
            align-items: center;
            gap: 5em;
            .list{
                position: relative;
                top: -30px;
                @media (min-width: 768px){
                    top: 0;
                }
                
                .cont{
                   height: 190px;
                   overflow: hidden;
                img{
                    width: 260px;
                    height: 280px;
                    object-fit: center;
                    transition: .5s all;
                    z-index: -1;
                    &:hover{
                        scale: 140%;
                    }
                }
               }

                .imgText{
                   position: absolute;
                   top: 140px;
                   right: 12%;
                   background: #2A282D;
                   padding: .8em;
                   padding-inline: 1.8em;
                   &:nth-child(2){
                    right: 7%;
                   }
                  div{
                    display: flex;
                    flex-direction: column;
                    gap: .8em;
                    h4{
                        font-family: 'lato';
                        font-size: 10.5px;
                        letter-spacing: .5mm;
                        background: #fff;
                        padding: 1em;
                        padding-inline: 1.6em;
                    }
                    p{
                        font-family: 'lato';
                        color: #fff;
                        font-size: 12px;
                        text-align: center;
                        letter-spacing: .1mm;
                        
                    }
                  }
                }
            }
        }
    }
}

#new{
    background: #fff;
    padding-block: 2em;
    #newWrapper{
        h2{
            max-width: 90%;
            margin-inline: auto;
            width: 100%;
            font-family: "lato";
            font-size: 16px;
            font-weight: 800;
            padding-block: 2em;
            padding-inline: .7em;
        }
        .watch-cards{
            display: flex;
            flex-wrap: wrap 400px;
            flex-flow: wrap;
            box-sizing: border-box;
            gap: .6em;
            justify-content: center;
            #card{
                .card-image{
                    height: 200px;
                    overflow: hidden;
                    border: 1px solid rgba(0, 0, 0, 0.409);
                    box-sizing: border-box;
                    // box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.386);
                    @media (min-width: 768px){
                        height: 280px;
                    }
                    img{
                        width: 170px;
                        height: 200px;
                        object-fit: cover;
                        transition: .5s all ease-in-out;
                        &:hover{
                            scale: 120%;
                        }
                        @media (min-width: 768px){
                            width: 260px;
                            height: 400px;
                        }
                    }
                }
                .card-text{
                    font-family: "lato";
                    font-size: 12px;
                    text-align: center;
                    padding-block: .7em;
                }
                .price{
                    font-family: 'lato';
                    font-size: 11px;
                    text-align: center;
                    h3{
                        font-weight: 900;
                    }
                }
                .add{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid;
                    gap: .6em;
                    width: 90px;
                    margin-inline: auto;
                    margin-block: 1em;
                    padding-block: .7em;
                    padding-inline: .1em;
                    transition: .5s all;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.185);
                    }
                    i{
                        font-size: 11px;
                    }
                    p{
                        font-size: 10px;
                        font-family: "lato";
                    }
                }
            }
        }
    }
}

#learn{
    background: radial-gradient(#2A282D,#2E2E2E);
    overflow: hidden;
    height: 80vh;
    #learn-wrapper{
        max-width: 90%;
        margin-inline: auto;
        width: 100%;

        .learn-img{
            img{
                width: 700px;
                transform: translateY(-110px)translateX(-270px);
            }
        }
        .learn-more{
            position: relative;
            top: -500px;
            // right: -65%;
            left: 80%;
            @media (min-width: 1020px){
                left: 90%;
             }
            p{
                color: rgb(236, 211, 180);
                font-family: "lato";
                font-weight: 530;
                font-size: 16px;
                &::after{
                    position: absolute;
                    top: 22px;
                    left: 0px;
                    content: '';
                    width: 84px;
                    height: 1.45px;
                    background: rgb(236, 211, 180);
                    transition: .5s all;
                }
                &:hover::after{
                    display: none;
                }
            }
        }
    }
}

#rolex-wrapper{
    max-width: 90%;
        margin-inline: auto;
        width: 100%;
    padding-block: 3.5em;
    display: flex;
    justify-content: center;
    // align-items: top;
    gap: 1em;
    @media (min-width: 768px){
        justify-content: space-around;
        padding-inline: 3em;
        align-items: center;
    }
    .rolex-img{
        // height: 400px;
        transform: translateX(-45px);
        &::after{
            position: absolute;
            right: -20px;
            top: 40px;
            content: '';
            width: 160px;
            height: 130px;
            background: #2A282D;
            z-index: -1;
            @media (min-width: 768px){
                width: 400px;
                height: 300px;
                right: -40px;
            }
        }
        img{
            width: 200px;
            height: 150px;
            object-fit:cover;
            @media (min-width: 768px){
                height: 300px;
                width: 400px;
            }
        }
    }
    .description{
        // margin-inline: -4.5em;
        @media (min-width: 768px){
            margin-top: 3em;
        }
        h3{
            font-family: 'lato';
            font-size: 18px;
            padding-bottom: .1em;
            @media (min-width: 768px){
                font-size: 27px;
            }
        }
        h4{
            font-family: 'lato';
            font-size: 17px; 
            padding-bottom: .9em;
            @media (min-width: 768px){
                font-size: 20px;
            }
            &:nth-child(1){
                color: #C49558;
                font-size: 15px;
                font-weight: 800; 
                @media (min-width: 768px){
                    font-size: 19px;
                }
            }
        }
        .role-text{
            p{
                font-size: 8px;
                width: 120px;
                font-family: 'lato';
                line-height: 3mm;
                @media (min-width: 768px){
                    font-size: 12px;
                    width: 190px;
                    line-height: 4mm;
                }
            }
        }
        .buyNow{
            text-align: center;
            margin-top: 1em;
            // margin-inline: auto;
            padding-block: .6em;
            background: #C49558;
            width: 120px;
            @media (min-width: 768px){
                margin-top: 4em;
                width: 160px;
                padding-block: .8em;
            }
            h5{
                font-family: 'lato';
                font-size: 9px;
                font-weight: 800;
                @media (min-width: 768px){
                    font-size: 13px;
                }
            }
        }
    }
}

#reviews{
    background: rgba(236, 211, 180, 0.283);
    padding-block: 4em;
    padding-inline: 3em;
    .wrapper{
        max-width: 90%;
        margin-inline: auto;
        width: 100%;
    }
    .review-card{
        border: 1px solid #C49558;
        padding: 1em;
        @media (min-width: 768px){
            max-width: 600px;
            margin-inline: auto;
            width: 80%;
            padding: 3em;
        }
        .rate{
            i{
                color: rgb(251, 180, 2);
                font-size: 5px;
                @media (min-width: 768px){
                    font-size: 9px;
                }
            }
        }
        .review-text{
            padding-block: .6em;
            @media (min-width: 768px){
                padding-block: 1.4em;
            }
            p{
                font-family: 'lato';
                font-size: 9px;
                line-height: 3mm;
                font-weight: 600;
                @media (min-width: 768px){
                    font-size: 18px;
                    line-height: 8mm;
                    font-weight: 500;
                }
            }
        }
        .name{
            p{
                font-family: 'lato';
                font-size: 9px;
                font-weight: 900;
                @media (min-width: 768px){
                    font-size: 12px;
                }
                span{
                    font-weight: 900;
                    font-size: .8em;
                    color: rgba(0, 0, 0, 0.439);
                }
            }
        }
    }
}

#footer{
    padding-top: 2em;
    padding-inline: 1em;
    .footer-content{
        max-width: 90%;
        margin-inline: auto;
        width: 100%;
        @media (min-width: 768px){
            display: flex;
            justify-content: space-between;
        }
        .logo{
            img{
                width: 130px;
                object-fit: cover;
                padding-bottom: .8em;
            }
            .contacts{
                div{
                    display: flex;
                    align-items: center;
                    gap: .8em;
                    padding-block: .5em;
                    i{
                       font-size: 11px;
                    }
                    p{
                        font-family: 'lato';
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.465);
                        font-weight: 900;
                    }
                }
            }

        }
        .other{
            font-family: 'lato';
            padding-bottom: .1em;
            @media (min-width: 768px){
                display: flex;
                gap: 3em;
            }
           .get-help{
            h3{
                padding-block: .8em;
                font-size: 17px;
                font-weight: 800;
            }
            ul{
                list-style: none;
                li{
                    font-family: 'lato';
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.465);
                    font-weight: 600;
                    margin-block: 1.2em;
                }
            }
           }
           .company{
            h3{
                padding-block: .8em;
                font-size: 17px;
                font-weight: 800;
            }
            ul{
                list-style: none;
                li{
                    font-family: 'lato';
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.465);
                    font-weight: 600;
                    margin-block: 1.2em;
                }
            }
           }
        }
    }

    .copy{
        border-top: 1px solid rgba(0, 0, 0, 0.465);
        text-align: center;
        padding: 1.4em;
        width: 80%;
        margin-inline: auto;
        margin-top: 2em;
        font-family: 'lato';
        font-size: 1vw;
        color: rgba(0, 0, 0, 0.465);
        font-weight: 700;
    }
}


// about

#heroAbout{
    height: 90vh;
    width: 100%;
    background: url(../img/Rolex.png);
    object-fit: cover;
    background-position:  -620px;
    background-repeat: no-repeat;
    // background-size: 100%;
    background-color: rgba(0, 0, 0, 0.462);
    background-blend-mode: overlay;

    #content{
        h1{
            font-family: 'Cormorant Garamond';
            font-size: 55px;
            color: #fff;
            font-weight: 700;
            line-height: 15mm;
        }
        p{
            width: 80%;
            padding-block: 1.2em;
            color: rgb(236, 211, 180);
            font-family: "lato";
            font-size: 15px;
            line-height: 6mm;
        }
    }
    #btn-learn{
        position: relative;
        top: 40%;
        left: 6%;
        margin-inline: .6em;
        margin-top: 1.4em;
        background: #C49558;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-family: "lato";
        font-size: 15px;
        padding: .8em;
        padding-inline: 1.8em;
    }
}

#about{
    padding-inline: .7em;
    padding-block: .1em;
    @media (min-width: 1020px){
       padding-inline: 3em;
    }
    #aboutContent{
        background-color: #fff;
        position: relative;
        top: 30px;
        @media (min-width: 768px){
            height: 66vh;
        }
        .company-profile{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .5em;
            .img{
                height: 170px;
                @media (min-width: 768px){
                    height: 210px;
                }
                img{
                    width: 190px;
                    height: 160px;
                    object-fit: cover;
                    @media (min-width: 768px){
                        width: 350px;
                        height: 210px;
                    }
                    @media (min-width: 1020px){
                       width: 300px;
                    }
                }
            }

            .profile-text{
                h1{
                    font-family: 'lato';
                    font-size: 9px;
                    font-weight: 900;
                    padding-block: .5em;
                    @media (min-width: 768px){
                        font-size: 14px;
                    }
                    @media (min-width: 1020px){
                        font-size: 16px;
                    }

                }
                p{
                    font-family: 'lato';
                    font-size: 8px;
                    color: rgba(0, 0, 0, 0.483);
                    @media (min-width: 768px){
                        font-size: 11px;
                        width: 70%;
                    }
                    @media (min-width: 1020px){
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.luxuryco{
    background: url(../img/ASSETS/PICTURES/pexels-pixabay-302769\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    height: 55vh;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55vh;
        padding-top: 2em;
        img{
            width: 300px;
        }
    }
}
